<div class="footer-hf">
  <div class='footer-hf-yellow text-white'>
    <div class="container text-center">
      <a target="_blank" href="https://www.instagram.com/hello_frida_news/?hl=en"><i class="fab fa-instagram"></i></a>
        <p>
          Nous écrire : <strong>hello@hellofrida.fr</strong>
        </p>
        <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018,   Hello Frida, All Rights Reserved <p>
  </div>
      </div>
  </div>
</div>



