<div class="footer-hf">
  <div class='bg-hf-yellow text-white'>
    <div class="container text-center">
        <p>
          Hello Frida
        </p>
        <p>
          hello@hellofrida.com
        </p>
    </div>
  </div>
</div>
