<div class="footer-hf">
  <div class='bg-hf-yellow text-white'>
    <div class="container text-center">
        <p>
          Hello Frida
        </p>
        <p>
          hello@hellofrida.com
        </p>
        <div class="footer-links">
            <a class="btn btn-social-icon btn-instagram">
              <span class="fa fa-instagram"></span>
            </a>
            <a target="_blank" href="https://www.instagram.com/spores_homes/?hl=en"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018,   Hello Frida, All Rights Reserved <p>
  </div>
      </div>
  </div>
</div>


