<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "HELLO_FRIDA.png", height: 50 %>
  <% end %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-right">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#apprendre_a_oser">Apprendre à oser</a>
                </li>
                <li class="page-scroll">
                    <a href="#concept">Concept</a>
                </li>
                <li class="page-scroll">
                    <a href="#ton_shot_de_power">Ton shot de power</a>
                </li>
                <li class="page-scroll">
                    <%= link_to "Toutes les news", "https://mailchi.mp/3abc061a58aa/toutes-les-news-hello-frida", class: "page-scroll" %>
                </li>
            </ul>
        </div>
</div>


