<section id="hello_index">
  <div class="bg-hf-blue">
    <div class="col-md-6 flex-item">
      <h4 href="#hello Index" class='title bg-hf-yellow mx-auto'>Hello Index</h4>
      <br>
      <p class='text-justify'>=> CADEAU: vous trouverez toutes les newsletters,réunies rien que pour <strong>vous</strong></p>
      <p class='text-justify'><strong>Newsletter 01, Valentine Lesaffre</strong>Link to</p>
    </div>
  </div>
</section>
